<div class="card-user" data-author="{{ follow.author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">
            {% include "include/profile_button.html" with class="card-user__title" username=follow.author %}
        </h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in follow.author.recipes.all|slice:':3' %}
                <li class="card-user__item">
                    <div class="recipe">
                        <a href="{% url 'recipe_view' recipe.id %}" class="recipe__image">
                            {% include "include/image_card.html" with size="480x480" class="recipe__image" %}
                        </a>
                        {% include "include/recipe_button.html" with class="recipe__title" %}
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
                    </div>
                </li>
            {% endfor %}
            {% if follow.author.recipes.all.count > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'profile_view' follow.author %}" class="card-user__link link">
                        Еще {{ follow.author.recipes.all.count|add:-3 }}
                        {% if follow.author.recipes.all.count|add:-3 == 1 %} рецепт
                        {% elif follow.author.recipes.all.count|add:-3 > 1 and follow.author.recipes.all.count|add:-3 < 5 %} рецепта
                        {% else %} рецептов
                        {% endif %}...
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        {% include 'include/follow_button.html' with class="button_size_auto" %}
    </div>
</div>
