<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe_view' recipe.id %}" class="link">
        {% include "include/image_card.html" with size="375x240" class="card__image" %}
    </a>
    <div class="card__body">
        {% include "include/recipe_button.html" with class="card__title link" %}
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cook_time}} мин.</p>
            {% include "include/profile_button.html" with class="card__text" username=recipe.author%}
        </div>
    </div>
    <div class="card__footer">
        {% include 'include/shoplist_button.html' with deactive_button="light-blue" %}
        {% include 'include/favorite_button.html' %}
    </div>
</div>
