{% if user.is_authenticated %}
    <button class="button button_style_{% if recipe.id in shop_list %}light-blue-outline{% else %}{{ deactive_button }}{% endif %}"
    name="purchases" {% if recipe.id not in shop_list %}data-out{% endif %}>
    <span class="icon-{% if recipe.id in shop_list %}check{% else %}plus{% endif %} button__icon"></span>
    {% if recipe.id in shop_list %}Рецепт добавлен{% else %}Добавить в покупки{% endif %}
    </button>
{% else %}
    <a href='{% url "add_recipe" recipe.id %}'><button class="button button_style_light-blue"><span class="icon-plus button__icon"></span> Добавить в покупки</button></a>
{% endif %}
