<li class="shopping-list__item" data-id="{{ recipe.id }}">
    <div class="recipe recipe_reverse">
        <a href="{% url 'recipe_view' recipe.id %}" class="recipe__image recipe__image_big">
            {% include "include/image_card.html" with size="480x480" class="recipe__image recipe__image_big" %}
        </a>
        <a class="recipe__title" href="{% url 'recipe_view' recipe.id %}" style="text-decoration:none" target="_blank">
            {{ recipe.name }}
        </a>
        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
    </div>
    <a href="#" class="shopping-list__button link">Удалить</a>
</li>