{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <div class="main__header" style="margin-top: -50px; margin-bottom: 10px;">
        <h1 class="main__title">{{ flatpage.title }}</h1>
    </div>
    <div class="custom-text-block" style="justify-content:left; align-items:flex-start">
        <p style="font-size:large; line-height:30px; text-align:justify;">{{ flatpage.content }}</p>
    </div>
{% endblock %}
