{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for recipe in recipes %}
            {% include "include/shoplist_card.html" %}
        {% endfor %}
    </ul>
    {% if user.shoplist.count or 'recipes' in request.session %}
        <a href="{% url 'shoplist_save' %}"><button class="button button_style_blue">Скачать список</button></a>
    {% else %}
        <p style="font-family:'Montserrat'; font-size:large; margin-top:-100px;">Ваш список покупок пуст</p>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}
