{% extends "base.html" %}
{% block title %}<!-- Title -->{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">{% block main_title %}<!-- Title -->{% endblock %}</h1>
    {% if page %}
        {% include 'include/tags_panel.html' %}
    {% endif %}
</div>
{% block follow_button %}<!-- Button -->{% endblock %}
<div class="card-list">
    {% for recipe in page %}
        {% include 'include/recipe_card.html' %}
    {% endfor %}
    
    {% block favorites %}<!-- Favorites -->{% endblock %}
</div>
{% include 'include/pagination_panel.html' %}
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    {% block js %}
        <!-- js -->
    {% endblock %}
{% endblock %}




