{% load user_filters %}

<style type="text/css">
ul {list-style: none; padding-left: 0; margin-top: 0em;}
li {margin-bottom: 1em;}
</style>

<div class="main__header">
    <h1 class="main__title">{{ text }}</h1>
</div>

<div class="form-container">
    <form class="form" method="post" action={{ action }}>

        {% csrf_token %}
         
        {% if info %}
        <p class="form__info-text">{{ info }}</p>
        {% endif %}
        
        {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                    {% if field.help_text and not field.errors %}
                        <span class="form__input-info">{{ field.help_text|safe }}</span>
                    {% endif %}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
        {% endfor %}

        <div class="form__footer">
            <button class="button button_style_blue">{{ button }}</button>
        </div>

    </form>
</div>
